<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.blogbackend.mapper.BlogCommentMapper">

    <resultMap id="BaseResultMap" type="com.xc.blogbackend.model.domain.entity.BlogComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="forId" column="for_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="fromId" column="from_id" jdbcType="INTEGER"/>
            <result property="fromName" column="from_name" jdbcType="VARCHAR"/>
            <result property="fromAvatar" column="from_avatar" jdbcType="VARCHAR"/>
            <result property="toId" column="to_id" jdbcType="INTEGER"/>
            <result property="toName" column="to_name" jdbcType="VARCHAR"/>
            <result property="toAvatar" column="to_avatar" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="thumbsUp" column="thumbs_up" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,for_id,
        type,from_id,from_name,
        from_avatar,to_id,to_name,
        to_avatar,content,thumbs_up,
        created_at,updated_at,ip
    </sql>
</mapper>
