<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.blogbackend.mapper.BlogArticleMapper">

    <resultMap id="BaseResultMap" type="com.xc.blogbackend.model.domain.entity.BlogArticle">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="mdImgList" column="mdImgList" jdbcType="VARCHAR"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="isTop" column="is_top" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="originUrl" column="origin_url" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="viewTimes" column="view_times" jdbcType="INTEGER"/>
            <result property="articleDescription" column="article_description" jdbcType="VARCHAR"/>
            <result property="thumbsUpTimes" column="thumbs_up_times" jdbcType="INTEGER"/>
            <result property="readingDuration" column="reading_duration" jdbcType="DOUBLE"/>
            <result property="articleOrder" column="article_order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_title,author_id,
        category_id,article_content,mdImgList,
        article_cover,is_top,status,
        type,origin_url,created_at,
        updated_at,view_times,article_description,
        thumbs_up_times,reading_duration,article_order
    </sql>
</mapper>
